<h2><%= @list.name %></h2>
<ul>
<p><% @list.bookmarks.each do |bookmark| %></p>
<li><%= bookmark.comment %></li>
<li><%= bookmark.movie.title %></li>
<% end %>
</ul>

<h2><%= link_to "return to lists", "/" %></h2>
